p {
  font-family: Lato;
}

.orange, .orange button {
  color: orange;
}

.red, .red button {
  color: red;
}

.yellow, .yellow button {
  color: yellowgreen;
}

.violet, .violet button {
  color: blueviolet;
}

.disabled {
  opacity: 0.5;
}

.item {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;  
}

.item div{
  margin: 3px 5px;
}