<div class="container">
  <div class="item" [ngClass]="fruit.color" *ngFor="let fruit of fruits; let i = index">
    <div>
       <button (click)="up(i, fruit)" [disabled]="i === 0" [class.disabled]="i === 0">Up</button> 
    </div>
    <div>
      <button (click)="down(i, fruit)" [disabled]="i === fruits.length - 1" [class.disabled]="i === fruits.length - 1">Down</button> 
    </div>
    <div>
      {{fruit.name}}
    </div>
  </div>
</div>